In [26]:
import pandas as pd

In [27]:
import numpy as np

In [28]:
path='diabetes.csv'

In [29]:
df=pd.read_csv(path)

In [30]:
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [31]:
df.tail(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
748,3,187,70,22,200,36.4,0.408,36,1
749,6,162,62,0,0,24.3,0.178,50,1
750,4,136,70,0,0,31.2,1.182,22,1
751,1,121,78,39,74,39.0,0.261,28,0
752,3,108,62,24,0,26.0,0.223,25,0
753,0,181,88,44,510,43.3,0.222,26,1
754,8,154,78,32,0,32.4,0.443,45,1
755,1,128,88,39,110,36.5,1.057,37,1
756,7,137,90,41,0,32.0,0.391,39,0
757,0,123,72,0,0,36.3,0.258,52,1
758,1,106,76,0,0,37.5,0.197,26,0
759,6,190,92,0,0,35.5,0.278,66,1
760,2,88,58,26,16,28.4,0.766,22,0
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [32]:
df.shape

(768, 9)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [34]:
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [35]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [36]:
df1=df.drop(['SkinThickness'],axis=1)

In [37]:
df1.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'Insulin', 'BMI',
       'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

df1.

In [39]:
df1.shape

(768, 8)

In [40]:
a=df1.tail(1)

In [41]:
a

,Pregnancies,Glucose,BloodPressure,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
767,1,93,70,0,30.4,0.315,23,0

In [42]:
a.drop

<bound method DataFrame.drop of      Pregnancies  Glucose  BloodPressure  Insulin   BMI  \
767            1       93             70        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
767                     0.315   23        0  >

In [43]:
a

,Pregnancies,Glucose,BloodPressure,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
767,1,93,70,0,30.4,0.315,23,0

In [44]:
df1.describe()

,Pregnancies,Glucose,BloodPressure,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [45]:
df['Age'].value_counts().head(10)

Age
22    72
21    63
25    48
24    46
23    38
28    35
26    33
27    32
29    29
31    24
Name: count, dtype: int64

In [46]:
df['Age'].nunique() #find  number of unique ages in dataset

52

In [47]:
df['Age'].unique() #values

array([50, 31, 32, 21, 33, 30, 26, 29, 53, 54, 34, 57, 59, 51, 27, 41, 43,
       22, 38, 60, 28, 45, 35, 46, 56, 37, 48, 40, 25, 24, 58, 42, 44, 39,
       36, 23, 61, 69, 62, 55, 65, 47, 52, 66, 49, 63, 67, 72, 81, 64, 70,
       68], dtype=int64)

In [48]:
df['BloodPressure'].str.contains("7")

AttributeError: Can only use .str accessor with string values!

In [49]:
df['BloodPressure'].str.contains("70").value_counts()

AttributeError: Can only use .str accessor with string values!

In [50]:
df[df['BloodPressure'].str.contains("70")]

AttributeError: Can only use .str accessor with string values!

In [51]:
len(df[df["BloodPressure"].str.contains("70")])

AttributeError: Can only use .str accessor with string values!

In [52]:
df[df["BloodPressure"].str.contains("70",case=True)].count()

AttributeError: Can only use .str accessor with string values!

In [53]:
data=pd.read_csv("submarks.csv")

In [54]:
data.describe()

,Id,Tamil,English,Maths,Social,EVS,Hindi,Total
count,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000
mean,532.500000,35.437500,33.359375,34.906250,33.984375,33.171875,34.671875,205.921875
std,18.618987,5.855062,5.518705,3.857455,4.712335,6.090729,2.900764,14.669161
min,501.000000,5.000000,11.000000,20.000000,11.000000,11.000000,21.000000,166.000000
25%,516.750000,34.000000,33.000000,35.000000,33.000000,33.000000,34.000000,199.750000
50%,532.500000,37.000000,35.000000,35.000000,35.000000,35.000000,35.000000,209.500000
75%,548.250000,39.000000,36.000000,36.000000,37.000000,36.000000,36.000000,217.000000
max,564.000000,40.000000,40.000000,38.000000,40.000000,40.000000,39.000000,230.000000

In [55]:
data.head()

,Id,Student_Name,Tamil,English,Maths,Social,EVS,Hindi,Total,Result
0,501,AMBATI CHANDRASEKHAR,32,36,38,32,26,36,209,PASS
1,502,BALA SAI HANEESHA,32,40,37,39,38,35,221,PASS
2,503,LANKA NEERAJ,30,22,35,30,36,35,188,FAIL
3,504,BANNA SAI HARIKA,38,21,35,36,15,36,197,FAIL
4,505,BARATAM PRIYANKA,39,35,37,37,36,37,221,PASS

In [56]:
data.tail()

,Id,Student_Name,Tamil,English,Maths,Social,EVS,Hindi,Total,Result
59,560,VAJRAPU SAI YASWANTH CHANDRA,32,32,35,33,11,32,175,FAIL
60,561,YANDA SYAM,40,39,38,39,35,39,230,PASS
61,562,BANGARI.YOGYASRI,38,36,35,21,35,36,201,FAIL
62,563,BANTUPALLI PRIYANKA,38,32,36,35,38,32,211,PASS
63,564,BELLALA SAI DEEXITHA,23,34,20,35,20,34,166,FAIL

In [57]:
data.shape

(64, 10)

In [58]:
a=data[data['Student_Name'].str.contains(" sai",case=False)]["Student_Name"]

In [59]:
a.str.lower()

1               bala sai haneesha
3                 banna sai harika
14           kottapalli saikrishna
27               bora kulwanth sai
29          kottapalli saisrinivas
38             nadupuru saisumanth
41              pakki sai sireesha
42                  panga saipriya
59    vajrapu sai yaswanth chandra
63            bellala sai deexitha
Name: Student_Name, dtype: object

In [60]:
search=a.iloc[[-1]]

In [61]:
search

63    BELLALA SAI DEEXITHA
Name: Student_Name, dtype: object

In [62]:
search.str.startswith("be")

63    False
Name: Student_Name, dtype: bool

In [63]:
search.str.findall('t')

63    []
Name: Student_Name, dtype: object

In [64]:
data.head()

,Id,Student_Name,Tamil,English,Maths,Social,EVS,Hindi,Total,Result
0,501,AMBATI CHANDRASEKHAR,32,36,38,32,26,36,209,PASS
1,502,BALA SAI HANEESHA,32,40,37,39,38,35,221,PASS
2,503,LANKA NEERAJ,30,22,35,30,36,35,188,FAIL
3,504,BANNA SAI HARIKA,38,21,35,36,15,36,197,FAIL
4,505,BARATAM PRIYANKA,39,35,37,37,36,37,221,PASS

In [65]:
data['Total'].min()

166

In [66]:
data['Total'].max()

230

In [67]:
data['Student_Name'].replace('BARATAM PRIYANKA',np.NaN)

0             AMBATI CHANDRASEKHAR
1               BALA SAI HANEESHA
2                     LANKA NEERAJ
3                 BANNA SAI HARIKA
4                              NaN
                  ...
59    VAJRAPU SAI YASWANTH CHANDRA
60                      YANDA SYAM
61                BANGARI.YOGYASRI
62            BANTUPALLI PRIYANKA
63            BELLALA SAI DEEXITHA
Name: Student_Name, Length: 64, dtype: object

In [68]:
data[data["Student_Name"]== 'BANGARI.YOGYASRI']["Result"]

61    FAIL
Name: Result, dtype: object

In [69]:
data.groupby("Result").groups

{'FAIL': [2, 3, 8, 13, 15, 19, 21, 22, 27, 31, 36, 55, 58, 59, 61, 63], 'PASS': [0, 1, 4, 5, 6, 7, 9, 10, 11, 12, 14, 16, 17, 18, 20, 23, 24, 25, 26, 28, 29, 30, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 60, 62]}

In [70]:
data.groupby('Result').mean()

TypeError: Could not convert LANKA NEERAJBANNA SAI HARIKABORRA YESHODA VENKATA BHAVANICHALLA HEMALATHADEVADI MEENA KUMARIGANGIREDLA SANJANA GONDELA UDAYKIRAN RAOHANUMANTHU SRINIVASA VARA PRASADBORA KULWANTH SAILUKALAPU RAJIV NAIDUMANGI VISHESHINISIMHADRI BUTCHIBABUTOTTADI DRAKSHAYANIVAJRAPU SAI YASWANTH CHANDRABANGARI.YOGYASRIBELLALA SAI DEEXITHA to numeric

In [71]:
data['Total'].max()

230